[submodule "models"]
	path = models
	url = https://github.com/tensorflow/models.git
	branch = master
[submodule "tf_nets/YAD2K"]
	path = tf_nets/YAD2K
	url = https://github.com/giulio-zhou/YAD2K.git
	branch = master
[submodule "projects/tensorboard-projector-viz"]
	path = projects/tensorboard-projector-viz
	url = https://github.com/giulio-zhou/tensorboard-projector-viz.git
	branch = master
[submodule "projects/run_nn_models"]
	path = projects/run_nn_models
	url = https://github.com/giulio-zhou/run_nn_models.git
	branch = master
